body {
  background-color: #d4cdcd;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.search-form {
  margin-top: 50px;
}
.gallery {
  margin: 50px 0px;
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
}

.gallery-item {
  list-style: none;
  height: 280px;
}

.photo-card {
  width: 250px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.photo-card:nth-child(4n) {
  margin-right: 0px;
}

.photo-card:nth-last-child(-n + 4) {
  margin-bottom: 0px;
}

.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stats-item {
  display: flex;
  flex-direction: column;
}

.material-icons {
  margin-left: auto;
  margin-right: auto;
}

.search-input {
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);

  border-radius: 4px;
  background-color: #524e4e;
  padding: 14px 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  margin-right: 8px;
  color: white;
}

.search-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.btn {
  color: white;
  background-color: #2196f3;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  align-items: center;
  padding: 10px 28px;
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 10px;
  border-radius: 10px;
}

.load-btn {
  margin-bottom: 50px;
}

.load-btn.is-hidden {
  display: none;
}
